<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/aside.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/log-in.css">
    <link rel="stylesheet" href="../css/sign-up.css">
    <script src="../js/sign-up.js" defer></script>
    <title>Sign Up</title>
</head>
<body>
    <header>
        <img src="../../Assets/img/logo.svg" alt="MegaRocket logo" id="logo">
        <img src="../../Assets/img/hamburger.svg" alt="" id="hamburger">
    </header>
    <div class="main-aside">
        <aside>
            <nav>
                <ul>
                    <li>
                        <div class="button-nav">
                            <a href="index.html"><img src="../../Assets/img/home.svg" alt="Home" width="18px" height="18px">Home</a>
                        </div>
                    </li>
                    <li>
                        <div class="button-nav">
                            <a href="sign-up.html"><img src="../../Assets/img/log-sign-in.svg" alt="">Sign up</a>
                        </div>
                    </li>
                    <li>
                        <div class="button-nav">
                            <a href="login.html"><img src="../../Assets/img/login.svg" alt="">Sign in</a>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="contact-info">
                <h3>
                    Contact information
                </h3>
                <ul>
                    <li>
                        <img src="../../Assets/img/mail.svg" alt="">
                        <a href="#">information@untitled.tld</a>
                    </li>
                    <li>
                        <img src="../../Assets/img/phone.svg" alt="" id="icon-phone">
                        <a href="#">(000) 000-0000</a>
                    </li>
                    <li>
                        <img src="../../Assets/img/home.svg" alt="">
                        1234 Somewhere Road #8254 Nashville, TN
                    </li>
                </ul>
            </div>
        </aside>
        <div class="fake-aside"></div>
        <main>
            <form action="">
                <h2>Sign Up</h2>
                <div class="column-container">
                    <div class="signup-column-1">
                        <label for="first-name">Name</label>
                        <input type="text" name="first-name" id="first-name" placeholder="Enter your name">
                        <div class="errorDiv"></div>
                        <label for="last-name">Last name</label>
                        <input type="text" name="last-name" id="last-name" placeholder="Enter your last name">
                        <div class="errorDiv"></div>
                        <label for="dni">DNI</label>
                        <input type="text" name="dni" id="dni" placeholder="Enter your DNI number">
                        <div class="errorDiv"></div>
                        <label for="dob">Date of birth</label>
                        <input type="date" name="dob" id="dob" placeholder="Enter your date of birth">
                        <div class="errorDiv"></div>
                        <label for="number">Phone number</label>
                        <input type="text" name="number" id="number" placeholder="Enter your phone number">
                        <div class="errorDiv"></div>
                        <label for="membership">Membership</label>
                        <select id="membership" name="membership"></select>
                    </div>
                    <div class="signup-column-2">
                        <label for="address">Adress</label>
                        <input type="text" name="address" id="address" placeholder="Enter your address">
                        <div class="errorDiv"></div>
                        <label for="city">City</label>
                        <input type="text" name="city" id="city" placeholder="Enter your city">
                        <div class="errorDiv"></div>
                        <label for="zip">Zip code</label>
                        <input type="text" name="zip" id="zip" placeholder="Enter your zip code">
                        <div class="errorDiv"></div>
                        <label for="email">Email</label>
                        <input type="text" name="email" id="email" placeholder="Enter your email address">
                        <div class="errorDiv"></div>
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" placeholder="Enter your password">
                        <div class="errorDiv"></div>
                        <label for="rep-password">Repeat password</label>
                        <input type="password" name="rep-password" id="rep-password" placeholder="Repeate your password">
                        <div class="errorDiv"></div>
                    </div>
                </div>
                <button type="submit" value="register" id="send" class="submit h-center">Register</button>
                <p class="login h-center">Already have an account? <a href="login.html">Log in</a></p>
            </form>
        </main>
    </div>

</body>
</html>