<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/aside.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/log-in.css">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="../../Assets/img/logo.svg" alt="MegaRocket logo" id="logo">
        <img src="../../Assets/img/hamburger.svg" alt="" id="hamburger">
    </header>
    <div class="main-aside">
        <aside>
            <nav>
                <ul>
                    <li>
                        <div class="button-nav">
                            <a href="#"><img src="../../Assets/img/home.svg" alt="Home" width="18px" height="18px">Home</a>
                        </div>
                    </li>
                    <li>
                        <div class="button-nav">
                            <a href="#"><img src="../../Assets/img/log-sign-in.svg" alt="">Sign up</a>
                        </div>
                    </li>
                    <li>
                        <div class="button-nav">
                            <a href="#"><img src="../../Assets/img/login.svg" alt="">Sign in</a>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="contact-info">
                <h3>
                    Contact information
                </h3>
                <ul>
                    <li>
                        <img src="../../Assets/img/mail.svg" alt="">
                        <a href="#">information@untitled.tld</a>
                    </li>
                    <li>
                        <img src="../../Assets/img/phone.svg" alt="" id="icon-phone">
                        <a href="#">(000) 000-0000</a>
                    </li>
                    <li>
                        <img src="../../Assets/img/home.svg" alt="">
                        1234 Somewhere Road #8254 Nashville, TN
                    </li>
                </ul>
            </div>
        </aside>
        <div class="fake-aside"></div>
        <main>
            <form action="">
                <h2>Log In</h2>
                <label for="email">Email</label>
                <input type="text" name="email" id="email" placeholder="Email">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Password">
                <div class="remember-me">
                    <input type="checkbox" id="remember-me" name="remember-me">
                    <label for="remember-me">Remember me</label>
                </div>                
                <a href="#" class="h-center"><p class="forgot">Forgot your password?</p></a>
                <button type="submit" value="submit" class="submit h-center">Enter</button>
            </form>
        </main>
    </div>

</body>
</html>