section{
    margin-top: 60px;
    margin-bottom: 60px;
}

form{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #373867;
}

label{
    margin-bottom: 10px;
}



input, select{
    box-sizing:border-box;
    height: 37px;
    margin-bottom: 25px;    
    border: 1px solid #373867;
    border-radius: 4px;
}

input::placeholder{
    padding-left: 10px;
    color: #373867;
    opacity: 0.5;
}





#message{
    height: 191.6px;
    border: 1px solid #373867;
    border-radius: 4px;
}

#message::placeholder{
    padding-left: 10px;
    padding-top: 10px;
    color: #373867;
    opacity: 0.5;
}

#submit{
    width: 123px;
    height: 47px;
    background: #AACE9B;
    border-radius: 5px;
    border: none;
    color: #373867;
}



#section-activities img{
    margin-left: 150px;
}

.custom-table{
}

.custom-table-1{
}