main{
    width: 100%;
    max-width: 900px;
    padding: 2%;
    text-align: center;
}
form{
    display: flex;
    flex-wrap: wrap;
    padding: 4%;
    text-align: left;
    color: #373867;
}
.intouch-column-1 *, .intouch-column-2 * {
    width: 100%;
}
.about-p{
    display: none;
}
label{
    margin-bottom: 10px;
    font: var(--label);
}
textarea{
    flex: 1;
    height: 150px;
}
#section-welcome{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
#section-welcome p{
    margin-top: 2%;
    margin-bottom: 2%;
    font: var(--subheader);
}
.welcome-column-1{
    max-width: 480px;
    align-self: center;
}

#section-features{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: left;
}
#section-features article{
    font: var(--p-1);
}
#section-features h3{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
    font: var(--component-title);
}
#section-about{
    display: flex;
    flex-wrap: wrap;
}
#section-about p{
    margin-top: 3%;
    margin-bottom: 3%;
    font: var(--p-2);
}
.about-row-1, .about-row-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
input, select, textarea{
    box-sizing:border-box;
    height: 37px;
    margin-bottom: 25px;
    border: 1px solid #373867;
    border-radius: 4px;
    font: var(--placeholder);
}
#message::placeholder{
    padding-left: 10px;
    padding-top: 10px;
    color: #373867;
    opacity: 0.5;
}
input::placeholder{
    padding-left: 10px;
    color: #373867;
    opacity: 0.5;
}
.submit{
    width: 123px;
    height: 47px;
    margin-bottom: 0px;
    font: var(--button);
    border-radius: 5px;
    border: none;
    background: #AACE9B;
    color: #373867;
}
.submit-1{
    display: none;
}
.learn-more{
    margin-bottom: 2%;
    width: 88px;
    height: 32px;
    border: 1px solid #373867;
    border-radius: 5px;
    font: var(--button);
    background: #FFFFFF;
    color: #373867;
}
.list-activities{
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    font: var(--li-activities);
    list-style: none;
    color: #373867;
}
.list-activities li{
    margin: 15%;
}
.activities-column{
    display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.activities-center{
    align-self: center;
}
#section-activities{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#welcome{
    font: var(--subheader);
    color: #49A37B;
    text-decoration: none;
}
#section-features img{
    width: 27.7px;
}
table{
    width: 100%;
    margin-bottom: 10%;
    align-items: center;
    font: var(--table);
    line-height: 100%;
    color: #373867;
    border-collapse: collapse;
}
td, th{
    padding: 16px;
}
tr:nth-child(odd) {
    background-color: #f2f2f2;
}
th{
    background-color: #f2f2f2;
}