
.main-container{
    display: flex;
    height: 100vh;
    overflow: hidden;
}

header{
    position: fixed;
    width: 100%;
    height: 73px;
    background-color: #373867;
    z-index: 1;
    line-height: 73px;
}

aside{
    display: none;
    height: 100vh;
    width: 25%;
    min-width: 300px;
    margin-top: 73px;
    background-color: #AACE9B;
    
}

main{
    width: 85%;
    height: 100vh;
    margin-top: 0;
    margin: auto;
    max-width: 1000px;
    padding: 2%;
    text-align: center;
    overflow-y: auto;
}

main *{
    max-width: 100%;
}

nav img{
    padding-right: 10px;
}

.button-nav{
    display: block;
    width: 263px;
    height: 37.69px;
    margin: auto;
    margin-top: 15px;
    text-align: left;
    line-height: 37.69px;
    border: 1.5px solid #373867;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 876;
    font-size: 20px;    
    background-color: white;
    color: #373867;
}

.button-nav a{
    margin-left: 80px;
    color: #373867;
}

.contact-info{
    margin-top: 450px;
}

.contact-info h3{
    position: relative;
    margin-bottom: 40px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 876;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    text-decoration: underline;
    color: white
}

.contact-info li{
    margin-left: 10px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    color: #373867;
    text-decoration: none;
}

.contact-info ul img{
    width: 15px;
    height: 15px;
}

#icon-phone{
    width: 20px;
    height: 20px;    
    transform:perspective(-45);
}

.contact-info ul li{
    margin-top: 20px;
}

h1{
    font-family: Roboto;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 0em;
    color: #373867;
}

h2{
    color: #373867;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1.8em;
    line-height: 35px;
    text-align: center;
    text-decoration: underline #49A37B 3px;
    text-underline-offset: 8px;
}

h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 876;
    font-size: 24px;
    line-height: 28px;
    text-transform: capitalize;
    color: #373867;
}

p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color:#373867;
}

form{
    display: flex;
    flex-wrap: wrap;
    padding: 4%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    color: #373867;
}
.intouch-column-1 *, .intouch-column-2 * {
    width: 100%;
}

.about-p-desktop{
    display: none;
}

label{
    margin-bottom: 10px;
}

input, select, textarea{
    box-sizing:border-box;
    height: 37px;
    margin-bottom: 25px;    
    border: 1px solid #373867;
    border-radius: 4px;
}

textarea{    
    flex: 1;
    height: 150px;
}

input::placeholder{
    padding-left: 10px;
    color: #373867;
    opacity: 0.5;
}

.submit{
    margin-bottom: 0px;
    width: 123px;
    height: 47px;
    background: #AACE9B;
    border-radius: 5px;
    border: none;
    color: #373867;
}

.submit-1{
    display: none;
}

#logo{
    width: 194px;
    height: 41px;
    margin-left: 29px;    
    vertical-align: middle;
}

#section-welcome{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.welcome-column-1{
    max-width: 480px;
    align-self: center;
}


#section-features{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: left;
}

#section-features article{
    max-width: 350px;
}

h2{
    flex: 100%;
}

#section-about{
    display: flex;
    flex-wrap: wrap;
}

.about-row-1, .about-row-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.list-activities{
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 876;
    font-size: 24px;
    line-height: 28px;
    list-style: none;
    color: #373867;
}

.list-activities li{
    padding-bottom: 10px;
}

.activities-column{
    display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.activities-center{
    align-self: center;
}

#section-activities{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#welcome{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #49A37B;
    text-decoration: none;
}

#section-features img{
    width: 27.7px;
}

table{
    width: 100%;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    color: #373867;
    border-collapse: collapse;
}

td, th{
    padding: 16px;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}

th{
    background-color: #f2f2f2;
}

@media (min-width: 601px) {
    main{
        width: 100%;
    }

    .welcome-column-2, .welcome-column-1{
        flex: 50%;
    }

    .welcome-column-2 img{
        max-width: 100%;
    }

    .features-column-1, .features-column-2{
        max-width: fit-content;
        flex: 50%;
    }    

    #section-about p, #section-about img{
        width: 50%;
    }

    .about-row-1 p{
        text-align: right;
    }
    
    .about-row-2 p{
        text-align: left;
    }
    
    .about-row-2 img{
        order: 2;
    }

    .learn-more{
        display: none;
    }
    .intouch-column-1, .intouch-column-2{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .submit-2{
        display: none;
    }
    .submit-1{
        display: block;
    }
    form{
        padding: 0%;
    }
    .intouch-column-1{
        flex: 20%;
        padding: 2%;
        padding-bottom: 0;
    }
    .intouch-column-2{
        flex: 30%;
        padding: 2%;
        padding-bottom: 0;
    }

    textarea{        
    margin-bottom: 0;
    }

    #section-activities img{
        width: 50%;
    }

    .list-activities{
        display: block;
        list-style:disc;
    }
}

@media (min-width: 1025px){ 
    aside{
        display: block;
    }

    .welcome-column-2 img{
        min-width: 300px;
        max-width: 100%;
    }

    .about-p-desktop{
        display: block;
    }

    .about-p{
        display: none;
    }

    
}